@media (min-width: 768px)
{body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
    transition: margin-left .3s ease-in-out;
    margin-left: 250px;
}}
.main-footer {
    background-color: #fff;
    border-top: 1px solid #dee2e6;
    color: #869099;
    padding: 1rem;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.float-right {
    float: right!important;
}
@media (min-width: 576px)
{.d-sm-block {
    display: block!important;
}}
.d-none {
    display: none!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
b, strong {
    font-weight: bolder;
}